.dashboard {
  display: flex;
  flex-direction: row;
  height: 100%;

  main {
    width: 85%;
    @media (max-width: 768px) {
      width: calc(100vw - 48px);
    }
  }

  section {
    padding-block: 16px 4px;
    padding-inline: 32px;
    height: 88%;
    overflow: scroll;
    position: relative;

    @media (max-width: 576px) {
      padding-inline: 8px;
    }
  }
}
