.dashboard {
  display: flex;
  flex-direction: row;
  height: 100%;

  main {
    width: 80%;
    @media (max-width: 768px) {
      width: calc(100vw - 48px);
    }
  }

  section {
    padding: 16px 32px;
    height: 88%;
    overflow: scroll;
    position: relative;
  }
}
