.mainHeader {
  height: 12%;
  width: 100%;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color__brand);

  .dashboard__main__left {
    h3 {
      letter-spacing: 0.125rem;
      color: white;
    }
  }

  .dashboard__main__right {
    display: flex;
    align-items: center;
    gap: 1rem;

    div {
      width: 42px;
      height: 42px;
      border-radius: 100%;
      border: 1px solid var(--color__primary);
      overflow: hidden;

      img {
        max-width: 100%;
      }
    }

    select {
      padding: 8px;
      cursor: pointer;

      option {
        cursor: pointer;
      }
    }
    button {
      padding: 8px 12px;
      cursor: pointer;
    }
  }
}
