.user {
  display: flex;
  justify-content: space-between;

  .user-left,
  .user-right {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .user-left {
    .user-image {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-top: 20px;
    }

    .user-name {
      font-size: 24px;
      margin-top: 10px;
    }

    .user-title {
      font-size: 18px;
      margin-bottom: 30px;
      color: rgb(95, 94, 94);
      font-weight: 400;
    }

    p + P {
      margin-top: 8px;
    }

    p {
      span {
        margin-right: 8px;
      }
    }
  }

  .user-right {
    gap: 1.5rem;

    .user-section {
      .user-section-title {
        font-size: 18px;
        margin-bottom: 8px;
        color: var(--color-primary);
      }

      .user-section-details {
        display: flex;
        flex-direction: column;
        gap: 8px;

        p {
          font-size: 1rem;
          font-weight: 400;
          border: 1px solid var(--color-primary);
          padding: 4px 8px;
          border-radius: 10px;
          width: max-content;          

          span {
            font-weight: 600;
            margin-right: 8px;
          }
        }
      }
    }
  }
}
