.userList-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 256px;
  overflow: scroll;
  align-content: start;

  .userList-col {
    border: 1px solid #ccc;
    padding: 10px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .userList-col-btns {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .btn {
      padding: 4px;
      width: 32px;
      height: 32px;
      background: none;
      border: none;

      svg {
        height: 20px;
        width: 20px;
      }

      &:hover {
        svg {
          transform: scale(1.125);
        }
      }
    }
  }
  .userList-col.userList-col-th {
    background-color: var(--color-brand);
    border: none;
    font-weight: 500;
    text-transform: uppercase;
  }

  .userList-col.userList-col-th + .userList-col.userList-col-th {
    border-left: 1px solid #ccc;
  }
}

@media screen and (max-width: 768px) {
  .userList-grid {
    font-size: 0.75rem;
    overflow: scroll;
  }
}
