.userList-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  .userList-col {
    border: 1px solid #ccc;
    padding: 10px;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .userList-col-btns {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .btn {
      padding: 4px;
      width: 32px;
      height: 32px;
    }
  }
  .userList-col.userList-col-th {
    background-color: var(--color__brand);
    border: none;
    text-transform: uppercase;
    color: white;
  }

  .userList-col.userList-col-th + .userList-col.userList-col-th {
    border-left: 1px solid #ccc;
  }
}

@media screen and (max-width: 768px) {
  .userList-grid {
    font-size: 0.75rem;
    overflow: scroll;
  }
}
