.product-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  height: 270px;
  margin-top: 32px;
}

.product-image img {
  max-width: 100%;
  max-height: 230px;
}

.product-details {
  flex: 1;
}

.product-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-meta {
  margin-bottom: 10px;
}

.product-brand {
  font-size: 14px;
  margin-right: 10px;
  text-transform: uppercase;
}

.product-category {
  font-size: 14px;
  text-transform: uppercase;
}

.product-description {
  margin-bottom: 10px;
}

.product-price {
  margin-bottom: 10px;
}

.product-original-price {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.product-discounted-price {
  font-size: 18px;
  font-weight: bold;
  color: #f00;
}

.product-rating {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.product-rating-stars {
  font-size: 24px;
  color: #ff9800;
}

.product-rating-score {
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}

.product-stock {
  margin-bottom: 10px;
}

.product-in-stock {
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .product-info {
    flex-direction: column;
    align-items: center;
  }

  .product-image {
    margin-bottom: 20px;
  }
}
