:root {
  --color__primary: #0b2447;
  --color__secondary: #19376d;
  --color__brand: #576cbc;
  --color__background__primary: #a5d7e8;
  --color__background__secondary: #9eb6be;
}

.dark {
  --color__primary: #67da67;
  --color__secondary: #19376d;
  --color__brand: #91ff00;
  --color__background__primary: #883dff;
}
