:root {
  --color-primary: #0b2447;
  --color-secondary: #19376d;
  --color-brand: #abc4ff;
  --color-background-primary: #b6ccfe;
  --color-background-secondary: #9fbedb;
  --color-background-secondary-light: #ececec;
}

