:root {
  --color__primary: #0b2447;
  --color__secondary: #19376d;
  --color__brand: #abc4ff;
  --color__background__primary: #b6ccfe;
  --color__background__secondary: #9fbedb;
  --color__background__secondary-light: #ececec;
}

